<header>
    <div class="container hidden md:flex justify-around suit-font py-4">
        <div class="logo_area w-1/4">LOGO</div>
        <div class="w-6/12">
            <ul class="flex justify-between font-bold">
                <li class="cursor-pointer text-sky-600">HOME</li>
                <li class="cursor-pointer">광고서비스</li>
                <li class="cursor-pointer">DB수집</li>
                <li class="cursor-pointer">광고문의</li>
                <li class="cursor-pointer">인재채용</li>
            </ul>
        </div>
    </div>

    <div class="md:hidden">
        <div class="mobile-logo text-center py-3">LOGO</div>
        <hr>
        <div>
            <ul class="flex justify-between text-sm font-semibold py-2 px-3">
                <li class="cursor-pointer">
                    <span class="m-menu py-1 px-2 text-white bg-sky-600 rounded-lg">HOME</span>
                </li>
                <li class="cursor-pointer">
                    <span class="m-menu py-1 px-2">광고서비스</span>
                </li>
                <li class="cursor-pointer">
                    <span class="m-menu py-1 px-2">DB수집</span>
                </li>
                <li class="cursor-pointer">
                    <span class="m-menu py-1 px-2">광고문의</span>
                </li>
                <li class="cursor-pointer">
                    <span class="m-menu py-1 px-2">인재채용</span>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</header>